.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.img {
    height: 15vh;
    position: absolute;
}

.container h1 {
    margin-top: 13vh;
}

.container h2 {
    margin-top: 5vh;
    margin-bottom: 2vh;
    font-size: 20px;
}

.loggedIn {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    min-height: 15vh;
    margin-top: 10vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 28vh;
}

.form input {
    height: 5vh;
    padding: 5px;
    margin: 5px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.form button {
  width: 22vh;
  height: 5vh;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
  z-index: 2;
  border: 2px solid rgb(0, 0, 0);
  background-color: #ffffff00;
  transition: transform 0.3s ease;
}

.form button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transform: scale(1.1);
}

.form button:active {
  background-color: rgb(124, 124, 124);
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 700px) {
    .img {
        height: 25vh;
    }

    .form {
        min-width: 50vh;
    }

    .form input {
        font-size: large;
    }
    
    .container h2 {
        font-size: 25px;
    }

    .form button {
      width: 30vh;
      height: 6vh;
    }

    @media screen and (min-width: 1500px) {
        .form {
            min-width: 60vh;
        }
        .form input {
            padding: 6px;
            margin: 6px;
            height: 6vh;
        }
    }
}