.productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 14vh;
}

.productContainer h1 {
    margin: 20px;
}

.product {
    width: 90%;
    height: 80vh;
    border-radius: 5px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(248, 248, 248, 0.539);
    padding: 20px;
    font-weight: bold;
}

.imgSideDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 55%;
    width: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.1s ease-in-out;
  padding-top: 20px;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonsContainer button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5vh;
    height: 2.5vh;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    margin: 15px;
}

.buttonsContainer img {
    width: 100%;
    height: 100%;
}

.contentDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45%;
    width: 100%;
    padding: 10px;
}

.contentDiv p {
    margin: 0%;
}

.contentDiv h4 {
    font-size: 14px;
    font-weight: bold;
}

.colorButtons button {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
}

.sizesButtons button {
    width: 4vh;
    height: 4vh;
    border: 1px solid rgba(0, 0, 0, 0.611);
    margin: 2px;
    cursor: pointer;
}

.BuyBtn {
  width: 22vh;
  height: 5vh;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
  z-index: 2;
  background-color: black;
  color: white;
  transition: transform 0.3s ease;
}

.BuyBtn:hover {
  background-color: rgba(255, 255, 255, 0);
  color: black;
  transform: scale(1.1);
}

.BuyBtn:active {
  background-color: rgb(52, 52, 52);
  color: rgb(255, 255, 255);
}

.someProducts {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  justify-items: center;
  width: 90%;
  margin-top: 20px;
}

.footer {
    min-height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-top: 1px solid black;
    font-size: small;
    padding: 10px;
    margin-top: 2vh;
}

.footer span {
    font-weight: bold;
    margin: 10px;
}

@media screen and (min-width: 450px) {

  .someProducts {
    grid-template-columns: repeat(2, 1fr);
    width: 94%;
  }

  @media screen and (min-width: 500px) {
      .product {
          width: 80%;
          height: 90vh;
      }
      .imgSideDiv {
        height: 60%;
      }
      .contentDiv {
        padding: 10px;
        height: 40%;
      }
      .BuyBtn {
        width: 30vh;
        height: 6vh;
      }
      @media screen and (min-width: 750px) {
            .productContainer {
                margin-bottom: 12vh;
            }
            .someProducts {
                grid-template-columns: repeat(3, 1fr);
            }
            @media screen and (min-width: 900px) {
                .product {
                    width: 80%;
                    height: 80vh;
                }
                .imgSideDiv {
                    height: 100%;
                }
                .img {
                    padding: 0%;
                    padding-top: 30px;
                }
                .contentDiv {
                    padding: 20px;
                    height: 100%;
                }
                .card {
                    flex-direction: row;
                }
                .buttonsContainer button {
                    width: 4vh;
                    height: 4vh;
                }
                .footer {
                    flex-direction: row;
                    height: 10vh;
                    font-size: 15px;
                }
                @media screen and (min-width: 1500px) {
                    .someProducts {
                        grid-template-columns: repeat(4, 1fr);
                    }
                    @media screen and (min-width: 1800px) {
                        .someProducts {
                            grid-template-columns: repeat(5, 1fr);
                        }
                    }
                }
            }
        }
  }
}