.productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 14vh;
}

.productContainer h1 {
    margin: 20px;
}

.product {
    width: 300px;
    height: 600px;
    border-radius: 5px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(248, 248, 248, 0.539);
    padding: 20px;
    font-weight: bold;
}

.imgSideDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 55%;
    width: 100%;
    overflow: hidden;
}

.img {
  width: 100%;
  height: 90%;
  object-fit: contain;
  transition: 0.1s ease-in-out;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}
.buttonsContainer button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5vh;
    height: 2.5vh;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    margin: 15px;
}

.buttonsContainer img {
    width: 100%;
    height: 100%;
}

.contentDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 45%;
    width: 100%;
    padding: 10px;
}

.contentDiv p {
    margin: 0%;
}

.contentDiv h4 {
    font-size: 14px;
    font-weight: bold;
}

.colorButtons {
    display: flex;
}

.colorButtons div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3px;
    font-size: small;
}

.colorButtons button {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    cursor: pointer;
}

.sizesButtons button {
    width: 4vh;
    height: 4vh;
    border: 1px solid rgba(0, 0, 0, 0.611);
    margin: 2px;
    cursor: pointer;
}

.BuyBtn {
  width: 22vh;
  height: 5vh;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
  z-index: 2;
  background-color: black;
  color: white;
  transition: transform 0.3s ease;
}

.BuyBtn:hover {
  background-color: rgba(255, 255, 255, 0);
  color: black;
  transform: scale(1.1);
}

.BuyBtn:active {
  background-color: rgb(52, 52, 52);
  color: rgb(255, 255, 255);
}

.someProducts {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  justify-items: center;
  width: 90%;
  margin-top: 20px;
}

@media screen and (min-width: 450px) {
  .someProducts {
    grid-template-columns: repeat(2, 1fr);
    width: 94%;
  }

  @media screen and (min-width: 550px) {
    .product {
        width: 500px;
        height: 800px;
    }
    .BuyBtn {
        width: 30vh;
        height: 6vh;
    }
    .imgSideDiv {
        height: 75%;
        width: 100%;
    }
    .contentDiv {
        min-height: 25%;
    }
      @media screen and (min-width: 750px) {
            .productContainer {
                margin-bottom: 12vh;
            }
            .someProducts {
                grid-template-columns: repeat(3, 1fr);
            }
            @media screen and (min-width: 1000px) {
                .product {
                    width: 1040px;
                    height: 500px;
                }
                .card {
                    flex-direction: row;
                    height: 100%;
                }
                .imgSideDiv {
                    height: 100%;
                }
                .contentDiv {
                    padding: 20px;
                    height: 100%;
                }
                .buttonsContainer button {
                    width: 4vh;
                    height: 4vh;
                }
                @media screen and (min-width: 1400px) {
                    .someProducts {
                          grid-template-columns: repeat(4, 1fr);
                          width: 1400px;
                      }
                }
            }
        }
  }
}