.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container h1 {
  padding: 10px;
  font-size: small;
}

.menu {
  display: flex;
  justify-content: center;
  width: 100%;
}

.menu button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin: 10px;
  font-size: large;
  cursor: pointer;
}

.menu button.selected {
  border-bottom: 2px solid red;
  color: red;
}

.products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  justify-items: center;
  width: 90%;
  margin-top: 20px;
}

@media screen and (min-width: 550px) {
  .container h1 {
    font-size: x-large;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
    width: 94%;
  }
  @media screen and (min-width: 850px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width: 1500px) {
        .products {
            grid-template-columns: repeat(4, 1fr);
        }
        @media screen and (min-width: 1800px) {
            .products {
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }
  }
}
