.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 2px solid red;
}

.products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  justify-items: center;
  width: 99%;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 1/1.3;
  background-color: rgba(0, 0, 0, 0.211);
}

.img {
  width: 100%;
  aspect-ratio: 1/0.8;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 550px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 850px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
  }
    @media screen and (min-width: 1500px) {
        .products {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
