.main {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  background-color: rgba(8, 8, 8, 0.884);
  color: white;
}

.contentDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.contentDiv h1 {
  font-size: 40px;
  width: 1vh;
  align-self: start;
  padding: 10px;
}

.contentDiv h2 {
  font-size: 15px;
}

.buttonsDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 22vh;
  height: 5vh;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
  z-index: 2;
  border: 2px solid white;
  background-color: #ffffff00;
  color: white;
  transition: transform 0.3s ease;
}

.button:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}

.button:active {
  background-color: rgb(124, 124, 124);
  color: black;
}

@media screen and (min-width: 500px) {
  .contentDiv h1 {
    width: auto;
    font-size: 30px;
  }
  @media screen and (min-width: 650px) {
    .contentDiv h1 {
      font-size: 40px;
    }

    .contentDiv h2 {
      font-size: 20px;
    }
    
    .button {
      width: 30vh;
      height: 6vh;
    }
    @media screen and (min-width: 1500px) {
      .main {
        background-position: 0% 0%;
      }
    }
  }
}