.main {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  background-color: rgba(8, 8, 8, 0.884);
  color: white;
}

.main h1 {
  font-size: 30px;
  width: 1vh;
  padding: 20px;
  align-self: start;
}

.main h2 {
  font-size: 13px;
  padding: 10px;
}

.visible {
  opacity: 1;
  transition: opacity 0.5s ease-in-out; /* Customize the transition duration and easing */
}

.hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out, height 0s linear 0.5s; /* Customize the transition duration and easing */
}

@media screen and (min-width: 500px) {
  .main h1 {
    width: auto;
    font-size: 30px;
    align-self: center;
  }
  @media screen and (min-width: 650px) {
    .main h1 {
      font-size: 40px;
    }

    .main h2 {
      font-size: 20px;
    }
    @media screen and (min-width: 1500px) {
      .main {
        background-position: 0% 0%;
      }
    }
  }
}