.cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 1/1.3;
  transition: 0.3s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  overflow: hidden;
  margin: 5px;
}

.cards:hover {
  transform: scale(1.05);
}

.cards p {
  margin: 0%;
}

.img {
  width: 100%;
  aspect-ratio: 1/0.8;
  background-position: center;
  background-size: cover;
}
.img img {
  width: 10%;
  margin: 10px;
  cursor: pointer;
}

.detailDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.068);
  width: 100%;
  aspect-ratio: 1/0.5;
  font-size: 15px;
  font-weight: bold;
}

.colorsDiv {
  display: flex;
  margin-bottom: 5px;
}

.circles {
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  margin: 2px;
}

.link {
  width: 100%;
}

.detailDiv button {
  width: 100%;
  aspect-ratio: 1/0.1;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin: 1px;
}

.detailDiv button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: black;
}

.detailDiv button:active {
  background-color: rgba(0, 0, 0, 0.771);
  color: white;
}
