.footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid black;
    font-size: x-small;
    min-height: 65px;
    padding: 10px;
    background-color: white;
    z-index: -1;
}

.footer span {
    font-weight: bold;
    margin-top: 10px;
}

@media screen and (min-width: 700px) {
    .footer {
        flex-direction: row;
        align-items: center;
        min-height: 70px;
        font-size: 12px;
    }

    .footer span {
        margin: 5px;
    }

    @media screen and (min-width: 1024px) {
        .footer {
            font-size: 14px;
        }
    }
}