.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 14vh;
}

.products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  justify-items: center;
  width: 90%;
  margin-top: 20px;
}

@media screen and (min-width: 550px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    width: 94%;
  }
  @media screen and (min-width: 850px) {
    .container {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 12vh;
    }
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width: 1400px) {
        .products {
            grid-template-columns: repeat(4, 1fr);
            width: 1400px;
        }
    }
  }
}