.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets/shopImg2.jpeg');
    background-size: cover;
    background-position: center;
}

.layout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.563);
    width: 100%;
    min-height: 100vh;
    color: white;
}

@media screen and (min-width: 700px) {
    /* .layout {
        width: 80%;
    } */
}