.headerMob {
    width: 100%;
}

.header {
    display: none;
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.295);
}

.logo {
    height: 20vh;
}

.mobileMenuDiv {
    display: flex;
    justify-content: center;
}

.mobileMenu {
    height: 7vh;
    margin: 10px;
    opacity: 70%;
}

.mobileUl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 100%;
    left: 0;
    z-index: 1;
    padding: 0;
    margin: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
  }

.navbar ul {
    display: none;
}

.navbar ul li {
    margin-left: 5vh;
}

@media screen and (min-width: 700px) {
    .headerMob {
        display: none;
    }

    .header {
        display: block;
    }

    .navbar {
        height: 10vh;
        justify-content: start;
    }

    .navbar ul {
        display: flex;
    }
}