.header {
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    border: 1px solid black;
}

.logo {
    height: 20vh;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 5vh;
}